
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50;
    padding: 15px 20px;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.navigation {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navigation li {
    margin: 0;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s;
}

.navigation a:hover {
    color: #cce7cc;
}


.estimator-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.estimator-container h1 {
    color: #4CAF50;
    margin-bottom: 10px;
}

.estimator-container p {
    color: #666;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.estimate-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.estimate-btn:hover {
    background-color: #388E3C;
}


.result {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.hidden {
    display: none;
}


.examples-section {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
}

.examples-section h2 {
    color: #4CAF50;
    margin-bottom: 20px;
}

.examples-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.example-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 220px;
    text-align: center;
}
.example-card-Selected {
    background-color:  #4CAF50;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 220px;
    text-align: center;
}
.example-card-Selected h3 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 10px;
}

.example-card h3 {
    color: #4CAF50;
    font-size: 18px;
    margin-bottom: 10px;
}

.example-card p {
    font-size: 16px;
    color: #666;
}


.footer {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
}


/* Ramtin Css */

.recipeInput1 {
    width: 100%;
    height: 150px;
}
