* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
   
    background-color: #f4f4f4;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
  }
  

  .heading {
    background-color: #388E3C; /* Green Header */
    color: white;
    padding: 15px 30px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
.header .logo h1 {
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  .navigation ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navigation ul li a {

    color: white;

    text-decoration: none;

    font-size: 1.1rem;

    font-weight: bold;

    color: white;


  }
  
  .navigation ul li a:hover {
    border-bottom: 2px solid white;
  }
  
  